<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <form method="POST" action="/new">
        <label>Author:</label>
        <input type="text" name="messageUser"/>
        <label>Message:</label>
        <input type="text" name="messageText"/>
        <button>Send Message</button>
    </form>
</body>
</html>